{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<script>
function checkPassword(){
	p1=$("#id_password").val()
	p2=$("#id_password2").val()
	
	
	if(p1!=p2){
		$("#id_error_p").html("Passwords don't match.")
		return false;
	}else{
		$("#id_error_p").html("")
		return true;
	}
}

</script>
<div class="container">
    <form action="" method="post" class="needs-validation" novalidate onsubmit="return checkPassword();">
        <h3 class="title">Change my password</h3>
		<hr>
    	    {% csrf_token %}
    	    <div class="form-group">
		    <label for="id_old_pass"><span class="red" >*</span> 
		    		Old Password {{ form.old_pass.errors }}
		    		<span id="id_old_pass" class="red"></span>
		    	</label>
		    <input type="password"  class="form-control" name="old_pass" 
		    	id="id_old_pass" maxlength="128" 
		    	value="" required placeholder="Old password">
		</div>
		<div class="form-group">
		    <label for="id_password"><span class="red" >*</span> 
		    		Password {{ form.password.errors }}
		    		<span id="id_error_p" class="red"></span>
		    	</label>
		    <input type="password" onkeyup="checkPassword()" class="form-control" name="password" 
		    	id="id_password" maxlength="128" 
		    	value="" required placeholder="New password">
		</div>
		<div class="form-group">
		    <label for="id_password"><span class="red">*</span> 
		    		Repeat password {{ form.password.errors }}
		    	</label>
		    <input onkeyup="checkPassword()" type="password" class="form-control" name="password" 
		    	id="id_password2" maxlength="128" 
		    	value="" required placeholder="Repeat new password">
		</div>

			<button type="submit" value="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-secondary" onclick="window.location = '/user/myaccount'">Cancel</button>
    </form>
</div>

{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleForm.css' %}"/>
{% endblock %}