{% extends 'base.html' %}
{% block contenido %}
{% load static %}
  <main>
  <div class="container">
    <div>
      <h2 class="title">My account</h2><hr>
    </div>
  </div>
  <div class="container">
    <div class="row">  
      <div class="a col-sm-12 col-md-9">
        <h3 class="name">{{user.get_full_name}}</h3>
        <p><b>Username: </b> {{user.get_username}}</p>
        <p><b>Birthdate: </b>{{userlogged.birthdate}}</p>
        <p><b>Email:</b> {{userlogged.email}}</p>
        {% if userlogged.email_notification != "" %}
          <p><b>Email for notifications: </b> {{userlogged.email_notification}}</p> 
        {% endif %}
        <button class="btn btn-danger" onClick="confirmAlert('Are you sure you want to delete your account?', '/deleteUser')">Delete account</button>
      </div>
      <div class="col-sm-12 col-md-3">
        {% if hastwitter %}
          <div class="container">
            <div class="row">
              <div style="padding-right:0" class="col-sm-3">
                <img src="{% static 'image/twitter-icon.png '%}" class="img-fluid" alt="Twitter icon">
              </div>
              <div class="col-sm-9" style="margin:auto"> Logged in as {{username}}</div>
            </div>
          </div>
        {% else %}
          <a href="/user/logintwitter"><img src="{% static 'image/twitter-login.png '%}" class="img-fluid" alt="Twitter login"></a>
        {% endif %}
      </div>
    </div>
  </div>
  </main>
  <script>
  function confirmAlert(message, url){
    if(confirm(message)){
      window.location = url;
    }
  }
  </script>
{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleAccount.css' %}"/>
{% endblock %}