{% extends 'base.html' %}
{% block contenido %}
<h1 class="title">About Capsulefy</h1>
    <div class="text">
        <p>Capsulefy is an online time capsule that allows users to create an instance in our website and store their memories inside it by uploading text and files such as images and videos and select an opening date so they can be shared in the future. One of the main focus of our product is to allow users to leave a message or their memories behind in case they pass away, and for this reason, users will be able to set a timer that they can reset by periodically logging in. In case this timer expires, the capsule will be released.</p>
        <p>Furthermore, our product offers extra features such as connect time capsules to the user’s social networks accounts in order to publish a message when a capsule is released, share the capsules via email, making them private so that only people with an access link can display its contents. Users will also be able to create capsules with different modules whose content may be released gradually at different dates.</p>
    </div>

{% endblock %}