<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <title>Capsulefy</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        {% block styles %}{% endblock %}
    </head>
    <body>
    
    <nav class="navbar navbar-expand-sm   navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><h3>Capsulefy</h3></a>
            </li>
            
          </ul>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          	 <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#releases">Releases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/list/public">Search capsules</a>
          </li> 
          {% if user.username %}
            {% if user.username and not user.is_superuser %}
            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                My Capsules
              </a>
              <div class="dropdown-menu sm-menu dropdown-menu-right">
                <a class="dropdown-item" href="/list/private">List my capsules</a>
                <a class="dropdown-item" href="/select_capsule">Create a capsule</a>
              </div>
            </li>
            {% endif %}

            <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{user.username}}
              </a>
              <div class="dropdown-menu sm-menu dropdown-menu-right">
                {% if user.is_superuser %}
                  <a class="dropdown-item" href="/adm/list">List users</a>
                  <a class="dropdown-item" href="/adm/dashboard">Dashboard</a>
                {% endif %}
                {% if user.username and not user.is_superuser %}
                <a class="dropdown-item" href="/user/myaccount">My account</a>
                {% endif %}
                <a class="dropdown-item" href="/logout">Exit</a>
              </div>
            </li>
            {% else %}
            	  <li class="nav-item">
	            <a class="nav-link" href="/register">Sign up</a>
	          </li> 
              <li class="nav-item">
                <button class="btn btn-primary" onclick="window.location='/login'">Login</button>
              </li>
               
            {% endif %}
            </li>
          </ul>
        </div>
      </nav>

            		
	<div id="ctnMsgs" >
		 {% if messages %}
		    {% for message in messages %}
		        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
		       
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				   {{ message|safe  }}
		        </div>
		    
		    {% endfor %}
		{% endif %}
		</div>
    {% block contenido %}{% endblock %}
    
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
      <small>Do you want more information about out team? Click <a href="http://capsulefy01.herokuapp.com/">here</a> to know about us</small>
      <br>
      <small>Copyright &copy; Capsulefy</small>
    </div>
   </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>