{% extends 'base.html' %}
{% load static %}
{% block contenido %}
        <a name="index"></a>
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Capsulefy!</div>
                    <div class="intro-heading text-uppercase">Your past, your present and your future</div>
                </div>
            </div>
        </header>
<a name="about"/>
            
        <div class="capsule container">
            <img class="capsuleimg" class="img-fluid" src="{% static 'image/capsule.png' %}"/>
        </div>
        <div class="about">
            <div class="container">
            <h1 class="title">Capsulefy</h1>
            <p>Capsulefy is an online time capsule that allows users to create an instance in our website and store their memories inside it by uploading text and files such as images and videos and select an opening date so they can be shared in the future. One of the main focus of our product is to allow users to leave a message or their memories behind in case they pass away, and for this reason, users will be able to set a timer that they can reset by periodically logging in. In case this timer expires, the capsule will be released.</p>
        </div>
        <div class="capsule container">
            <img class="capsuleimg" class="img-fluid" src="{% static 'image/capsule.png' %}"/>
        </div>

{% if not user.username or not user.is_superuser %}
<a name="pricing"></a>
    <div id="pricing">
    <div class="bg-3 container">
    <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">€0<span class="period">/capsule</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>20Mb storage/user</li>
              <!--<li><span class="fa-li"><i class="fas fa-check"></i></span>Social network integration</li>-->
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Email integration</li>
            </ul>
              <a href="/newfreecapsule" class="btn btn-block btn-primary text-uppercase">Create one</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
            <h6 class="card-price text-center">€11.99<span class="period">/capsule</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>500Mb storage/capsule</li>
              <!--<li><span class="fa-li"><i class="fas fa-check"></i></span>Social network integration</li>-->
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Email integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Private capsules</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Deadman switch. <div class="tooltiptext">(What is this?)<span class="tooltiptextappear">Automatically release your capsule if you haven't logged in after a certain amount of time.</span></div></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Divide capsules into modules and release them at different dates</li>
            </ul>
            <a href="/newmodularcapsule" class="btn btn-block btn-primary text-uppercase">Buy one</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
{% endif %}

{% endblock %}