{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <div class="container first-terms">
    <h1>General information</h1>
    <p>Phone contact available: 681 331 044<br>
Email: capsulefy.communications@gmail.com<br>
In this website , there is an amount of information related to the capsules created by the system users, as well as any information they publish or display in their profiles. This information ranges from personal data of the registered users to information related to the capsules, such as text and pictures.
The goal of this data is to make easier for our clients and the general public the access to information related to this company and the services that are provided.</p>
    </div>
    <div class="container terms">
     <h1>Use terms</h1>
    <p>Access and use terms are bound by the current law and the trust placed in the good will of our users. Behaviours that go against the law and the rights of third parties are not allowed
Using our services implies having read and accepted these use conditions and those that are implied by laws that can be applied to this matter. If by any reason you do not agree with these conditions, please stop using this webpage.</p>
    <h1>Data stored in our system</h1>
    <p>The data our system stores is the following:<br>
Regarding users, we store all the information submitted when registering to our site. This includes their user name, first and last
name, email, birthdate and a mail that can be used to receive a notification when a capsule is about to expire. In case
a user connects their social media account to our site, we will also store a token that references that connection.
Regarding capsules, the system will store all the information submitted while creating a capsule. This includes any file uploaded
by the use and any third party email introduced for notifications when the capsule is published.
In case a payment is made, the system will store an id that references said payment.</p>
    <h1>Removal or retrieval of data</h1>
    <p>A user can delete the data related to his capsules or account anytime by going to "My account" and clicking the "Delete" option. In case
an external actor has data stored in our system by a third party without consent, our contact email is capsulefy.communications@gmail.com. We
will take the necessary actions to remove said content once we are notified of its existance.
A user can also ask to receive all the data related to him stored in our system by writing to our contact email using the email address provided when registering to our system.</p>
    <h1>Responsibilities</h1>
    <p>Capsulefy does not take any responsibility for the information and contents stored in forums, social networks or any other media that allows third parties to publish contents independently from this webpage.
However,Capsulefy makes the compromise of retiring or blocking those contents that may affect or go against national or international laws and third parties' rights.
In addition to that, the company will not take any responsibility for any harm or prejudice caused by errors or mishandling of the software installed in our users' computers. All responsibility derived from a technical issue or failure originated when the user accesses to the Internet. In the same way, the inexistence of interruptions or errors in the access to the website are not guaranteed.
Capsulefy holds the right of updating, modifying or deleting information contained in its webpage, as well as the configuration and presentation of the aforementioned at any time and without taking any responsibility for doing so.
System administrators hold the rights of deleting any publication that may contain sensible material, incites hate or encourages any illegal activity within the context of Spanish Laws.
Users who wish their data to be modified or deleted will have to get in contact with Capsulefy through the channels mentioned in the company's general data.</p>
    <h1>Intellectual and industrial property</h1>
    <p>Capsulefy owns all the rights related to the digital publication software, in addition to the intellectual and industrial rights about the contents included in the webpage, with the rights of products and services of public nature that are not property of this company being the exception.
No content published in this webpage is allowed to be reproduced, copied or published without Capsulefy's written consent.
All the information received in this site, such as comments, suggestions and ideas will be considered as given to Capsulefy for free. Information that can NOT be treated this way must not be sent.</p>
    <h1>Cookies policy</h1>
    <p>Capsulefy on its own or through a third party in charge of measurement services can use cookies when the user browses the website. Cookies are files sent to the internet navigator through a web service with the goal of registering the user's activities while browsing.
The cookies employed are only associated with an anonymous user and his/her computer, and do not provide on their own personal data related to the user.
Through the usage of cookies, the server where the website is hosted is able to recognize the user's internet browser with the objective of making the navigation easier.
The user has the choice of configurating their browser in order to be notified of the reception of cookies and to forbid their installation in the computer. Please check your browser's use guide in order to expand this information.
In any case, cookies are of temporal nature and under no circumstances they will be used to obtain personal data.</p>
    </div>

{% endblock %}
{% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}"/>
{% endblock %}