body{
    background-color: #f8f9fa;
}

.logo {
    width: 100%;
    max-width: 120px;
    height: auto;
}

.title{
    margin: 20px auto 0px auto;
    text-align: center;
}

.profile{
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    max-width: 200px;
}

.profile-text{
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
}

.technologies{
    padding: auto;
    text-align: center;
}

.technologies img{
    width: 100%;
    max-width: 100px;
    margin: auto;
}

.form{
    background-color: white;
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: 20px auto 20px auto;
    box-shadow: gainsboro 5px 5px;
    padding: 10px 10px 10px 10px;
}

.margin-right {
    margin-right: 10px;
}

.text {
    margin: 20px auto 20px auto;
    width: 80%;
    text-align: justify;
}

.text p{

}