
.container-fluid h3, .container-fluid h5{
    margin: 0px 20px 10px 20px;
}

.module{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #DDDDDD;

}

.module h5{
    margin: 0px 0px 10px 0px;
}

.files {
    text-align: center;
}

.module-img {
    margin: 10px 10px 10px 10px;
    width: 100%;
    max-width: 400px;
}