html {
  scroll-behavior: smooth;
}
body{
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(227,227,227,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(227,227,227,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(227,227,227,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(227,227,227,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(227,227,227,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(227,227,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e3e3e3', GradientType=0 );  /*background: #d1dde9!important;*/
    position: relative;
    padding-bottom: 10%;
}

.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.header-btn{
    width: 161%;
    border: none;
    border-radius: 1rem;
    padding: 8%;
    background: #0062cc;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

header.masthead {
    text-align: left;
    color: white;
    background-image: url("/static/image/background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}


header.masthead .intro-text {
    padding-top: 100px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    width: 50%;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    header .intro-heading{
        width: 75%;
    }
}

.capsuleimg {
    width: 20%;
}

.capsule {
    text-align: center;
    padding: 2%;
}

.about .title{
    padding-top: 1%;
    text-align: center;
}
.about p {
    text-align: center;
}

#pricing {
  padding-top: 1%;
}


.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.tooltiptext {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext .tooltiptextappear {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
}

.tooltiptextappear {
  padding: 10% !important;
}
.tooltiptext:hover .tooltiptextappear {
  visibility: visible;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.loginlogo{
  text-align: center;
}
