{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    {% load static %}
    <div class="container">
        <form id="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="title"> Creating a premium capsule</h3>
            <hr>
            {% for error in errors %}
                <p><b><span class="red">{{ error }}</span></b></p>
            {% endfor %}
            <div class="form-group">
                <label for="id_title"><span class="red">* </span>Title: {{ capsuleForm.title.errors }}</label>
                <input type="text" name="title" class="form-control"
                       value="{% if capsuleForm.title.value != None %}{{ capsuleForm.title.value }}{% endif %}"
                       maxlength="250" required id="id_title">
            </div>
            <div class="form-group">
                <label for="id_emails">Emails:{{ capsuleForm.emails.errors }}</label>
                <input type="text" name="emails" class="form-control"
                       value="{% if capsuleForm.emails.value != None %}{{ capsuleForm.emails.value }}{% endif %}"
                       maxlength="2500" id="id_emails">
            </div>

            <p><b>{{form.twitter.error}}</b></p>
			{% if form.twitter.value != None and form.twitter.value == True %}
				<p><button type="button" onClick="add_twitter(this)" class="btn btn-success" id="twitter">Connected to twitter</button></p>
			{% else %}
				<p><button type="button" onClick="add_twitter(this)" class="btn btn-secondary" id="twitter">Connect to twitter?</button></p>
			{% endif %}
            <input style="display: none" type="checkbox" class="form-check-input" name="twitter" id="id_twitter"
                {% if capsuleForm.twitter.value == True %}checked{% endif %}>
                
            <!--
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="facebook" id="id_facebook"
                       {% if capsuleForm.facebook.value == True %}checked{% endif %}>
                <label for="id_facebook" class="form-check-label">
                    Facebook
                </label>
            </div>-->
            <hr>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="private" id="id_private"
                       {% if capsuleForm.private.value == True %}checked{% endif %}>
                <label for="id_private" class="form-check-label">
                    Private capsule
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="deadman_switch"
                       onclick="deadman_switch_activated()" id="id_deadman_switch"
                       {% if capsuleForm.deadman_switch.value == True %}checked{% endif %}>
                <label class="form-check-label" for="id_deadman_switch">
                    Activate deadman switch
                </label>
            </div>
            <hr>
            <div id="input_deadman" style="display: none;">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2" for="id_deadman_counter">Deadman timer:</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" min="0" max="5000000000" name="deadman_counter"
                               id="id_deadman_counter"
                               value="{% if capsuleForm.deadman_counter.value != None %}{{capsuleForm.deadman_counter.value}}{% endif %}">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="deadman_time_unit" id="id_deadman_time_unit">
                            <option value=0 {% if capsuleForm.deadman_time_unit.value == '0' %}selected{% endif %}>Minutes
                            </option>
                            <option value=1 {% if capsuleForm.deadman_time_unit.value == '1' %}selected{% endif %}>Days</option>
                            <option value=2 {% if capsuleForm.deadman_time_unit.value == '2' %}selected{% endif %}>Months
                            </option>
                            <option value=3 {% if capsuleForm.deadman_time_unit.value == '3' %}selected{% endif %}>Years
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
            {{ moduleFormSet.management_form }}
            <div class="modules" id="modules">
                {% for formModule in moduleFormSet %}
                    <div class="moduleform">
                        <div class="form-group">
                            <label for="id_form-{{ forloop.counter0 }}-description"><span class="red">* </span>Description: {{ formModule.description.errors }}
                            </label>
                            <textarea name="form-{{ forloop.counter0 }}-description" rows="5" maxlength="250" required
                                      class="form-control"
                                      id="id_form-{{ forloop.counter0 }}-description">{% if formModule.description.value != None %}{{ formModule.description.value }}{% endif %}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_form-{{ forloop.counter0 }}-release_date"><span class="red">* </span>Release
                                date: {{ formModule.release_date.errors }}</label>
                            <input type="text" name="form-{{ forloop.counter0 }}-release_date" required value="{% if formModule.release_date.value != None %}{{ formModule.release_date.value }}{% endif %}"
                                   class="form-control"
                                   id="id_form-{{ forloop.counter0 }}-release_date"
                                   placeholder="YYYY-MM-DD HH:MM">
                        </div>
                        <div class="form-group">
                            <label for="id_form-{{ forloop.counter0 }}-file">File: {{ formModule.file.errors }}</label>
                            <input type="file" class="form-control-file" name="form-{{ forloop.counter0 }}-file"
                                   id="id_form-{{ forloop.counter0 }}-file"
                                   multiple>
                        </div>
                        {% if forloop.counter0 != 0 %}
                            <button type="button" class="btn btn-danger" onclick="removeModule(this)">Delete this module</button>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-success" value="Add module" onclick="addModule()">Add module</button>
            <hr>
            <button class="btn btn-primary" type="submit" value="Pay capsule">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="window.location='/'">Cancel</button>

        </form>

    </div>

    <script>
        function addModule() {
            var div = document.createElement('div');
            var totalForms = parseInt(document.getElementById('id_form-TOTAL_FORMS').value);
            div.className = 'moduleform';
            div.innerHTML = `
                <h5 class="subtitle">Module ` + totalForms + `</h5>
                <div class="form-group">
                    <label for="id_form-` + totalForms + `-description"><span class="red">* </span>Description:</label>
                    <textarea name="form-` + totalForms + `-description" rows="5" maxlength="250" required class="form-control" id="id_form-` + totalForms + `-description"></textarea>
                </div>
                <div class="form-group">
                    <label for="id_form-` + totalForms + `-release_date"><span class="red">* </span>Release date:</label>
                    <input type="text" name="form-` + totalForms + `-release_date" required class="form-control" id="id_form-` + totalForms + `-release_date" placeholder="YYYY-MM-DD HH:MM">
                </div>
                <div class="form-group">
                    <label for="id_form-` + totalForms + `-file">File:</label>
                    <input type="file" class="form-control-file" name="form-` + totalForms + `-file" class="form-group-file" id="id_form-` + totalForms + `-file" multiple>
                </div>
                <button type="button" class="btn btn-danger" onclick="removeModule(this)">Delete this module</button>
                <hr>
            `;
            document.getElementById('modules').appendChild(div);
            document.getElementById('id_form-TOTAL_FORMS').value = totalForms + 1;
        }

        function removeModule(input) {
            document.getElementById('modules').removeChild(input.parentNode);
            var totalForms = parseInt(document.getElementById('id_form-TOTAL_FORMS').value);
            document.getElementById('id_form-TOTAL_FORMS').value = totalForms - 1;
        }

        function deadman_switch_activated() {
            var checkbox = document.getElementById("id_deadman_switch");
            if (checkbox.checked == true) {
                document.getElementById("input_deadman").style.display = "block";
            } else {
                document.getElementById("input_deadman").style.display = "none";
            }
        }
        deadman_switch_activated();


        if("{{form.twitter.value}}" == "True"){
		    document.getElementById("id_twitter").setAttribute("checked", "checked");
	    }
    	function add_twitter(element){
	    	if(!document.getElementById("id_twitter").hasAttribute("checked")){
		    	document.getElementById("id_twitter").setAttribute("checked", "checked");
			    element.classList.remove("btn-secondary");
    			element.classList.add("btn-success");
	    		element.innerHTML = "Connected to Twitter";
		    }else{
    			document.getElementById("id_twitter").removeAttribute("checked");
	    		element.classList.remove("btn-success");
		    	element.classList.add("btn-secondary");
			    element.innerHTML = "Connect to Twitter?";
    		}
	    }

    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleForm.css' %}"/>
{% endblock %}