{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="container main-capsule">
    <h3> {{ capsule.title }} 
        <blockquote class="blockquote">
            <p class="blockquote-footer">Written by <cite title="Source Title">{{ capsule.creator.username }}</cite></p>
        </blockquote>
    </h3>

    <div class="module-btn-top">
    {% if user.id == capsule.creator.id %}
            {% if capsule.capsule_type == "F" and editable %}
                <button class="btn btn-primary" onclick="window.location='/editfreecapsule/{{capsule.id}}'">Edit capsule</button>
            {% endif %}
            {% if capsule.capsule_type == "M" and editable %}
                <button class="btn btn-primary" onclick="window.location='/editmodularcapsule/{{capsule.id}}'">Edit capsule</button>
            {% endif %}
            <button class="btn btn-danger" onclick="confirmAlert('Are you sure you want to delete this capsule?','/deletecapsule/{{capsule.id}}')">Delete capsule</button>
            {% if capsule.dead_man_switch%}
                <button class="btn btn-warning" onclick="window.location='/refresh/{{capsule.id}}'">Refresh capsule {{ capsule.seconds_to_unit }} {{ capsule.get_time_unit_display}} left</button>
            {% endif %}
    
    {% endif %}
    <button class="btn btn-secondary" onclick="window.location='/list/public/'">Back</button>
    </div>
    
    {% for module in modules %}
        <div class="card">
            <div class="card-header">
            {% if forloop.counter0 == 0 %}
                    Capsule
                {% else %}
                    Module {{ forloop.counter0 }}
                {% endif %}
            </div>
            <div class="card-body">
                <h4 class="description">{{ module.description }}</h4><br>
                {% if module.files %}
                <div class="container">
                <div class="row">
                    {% for file in module.files.all %}
                        <div class="col-sm-12 col-md-5 elem-display">
                            {% if file.type == "I" %}
                                <img class="img-fluid rounded" src="{{ file.url }}"/>
                            {% endif %}
                            {% if file.type == "F" %}
                                <div class="button_div">
                                    <button type="button" class="btn btn-primary" onclick="window.location='{{file.url}}'">{{file.local_name}}</button>
                                </div>
                            {% endif %}
                            {% if file.type == "V" %}
                                <div class="embed-responsive embed-responsive-4by3">
                                    <video class="embed-responsive-item" controls preload="none" src="{{file.url}}"></video>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-1"> </div>
                    {% endfor %}
                </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}


    <div class="module-btn-bottom">
        {% if user.id == capsule.creator.id %}
            {% if capsule.capsule_type == "F" and editable %}
                <button class="btn btn-primary" onclick="window.location='/editfreecapsule/{{capsule.id}}'">Edit capsule</button>
            {% endif %}
            {% if capsule.capsule_type == "M" and editable %}
                <button class="btn btn-primary" onclick="window.location='/editmodularcapsule/{{capsule.id}}'">Edit capsule</button>
            {% endif %}
            <button class="btn btn-danger" onclick="confirmAlert('Are you sure you want to delete this capsule?','/deletecapsule/{{capsule.id}}')">Delete capsule</button>
            {% if capsule.dead_man_switch and editable %}
                <button class="btn btn-warning" onclick="window.location='/refresh/{{capsule.id}}'">Refresh capsule {{ capsule.seconds_to_unit }} {{ capsule.get_time_unit_display}} left</button>
            {% endif %}
        {% endif %}
        <button class="btn btn-secondary" onclick="window.location='/list/public/'">Back</button>
    </div><br><br>

  <script>
  function confirmAlert(message, url){
    if(confirm(message)){
      window.location = url;
    }
  }
  </script>
</div>
{% endblock %}
{% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleDisplay.css' %}"/>
{% endblock %}