{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    {% load static %}


    <div class="container">
        <form id="form" method="post" enctype="multipart/form-data">
        <h3 class="title">Your module</h3> <hr>
        {% for error in errors %}
            <p><span class="red">{{ error }}</span></p>
        {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <label for="id_description">Description {{ form.description.errors }}</label>
                <textarea type="text" class="form-control" rows="3" name="description" maxlength="250" required="" id="id_description">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <label for="id_release_date">Release date {{ form.release_date.errors }}</label>
                <input type="date" class="form-control" name="release_date" required id="id_release_date" value="{% if form.release_date.value != None %}{{ form.release_date.value }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="id_file">Files</label>
                <input type="file" name="file" class="form-control-file" id="id_file" multiple>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" onclick="window.location='/editmodularcapsule/{{capsuleID}}'">Cancel</button>
        </form>
        <hr>


        {% if oldmodule.files%}
            <div class="row row-image-delete">
                {% for file in oldmodule.files.all %}
                    <div class="col-md-3 image-delete">
			    	    {% if file.type == "I" %}
			    			<img class="img-thumbnail mw-100" src="{{ file.url }}"/>
			    		{% endif %}
                        {% if file.type == "F" %}
                            <button type="button" class="btn btn-primary btn-file" onclick="window.location='{{file.url}}'">{{file.local_name}}</button>
                        {% endif %}
                  	    {% if file.type == "V" %}
                            <div class="embed-responsive embed-responsive-4by3">
  			    				<video class="embed-responsive-item" src="{{file.url}}" controls preload="none"></video>
			    			</div>
                        {% endif %}
			    			<button type="button" class="btn btn-danger button-delete" onclick="window.location='/deletefile/{{ file.id }}/'">Delete</button>
			    	</div>
			    	<div class="col-md-1"> </div>
                {% endfor %}
			    </div>
        {% endif %}
    </div>
{% endblock %}

{% block styles%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleForm.css' %}"/>
{% endblock %}
