{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    {% load static %}
    <div class="container">
        <form id="form" action="" method="post">
            {% csrf_token %}
            <h3 class="title">Editing the capsule</h3>
            <hr>
            <div class="form-group">
                <label for="id_title"><span class="red">* </span>Title:</label>
                <input type="text" class="form-control" name="title"value="{{ oldcapsule.title }}" maxlength="250" required="" id="id_title">
            </div>
            <div class="form-group">
                <label for="id_emails">Emails:</label>
                <input type="text" class="form-control" name="emails" value="{{ oldcapsule.emails }}" maxlength="2500" id="id_emails">
            </div>
            <hr>
            {% if oldcapsule.twitter == True %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="twitter" checked id="id_twitter">
                    <label class="form-check-label" for="id_twitter">Twitter</label>
                </div>
            {% else %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="twitter" id="id_twitter">
                    <label class="form-check-label" for="id_twitter">Twitter</label>
                </div>            
            {% endif %}
            {% if oldcapsuule.facebook == True %}
                <div class="form-check">
                    <input type="checkbox" name="facebook" class="form-check-input" checked id="id_facebook">
                    <label for="id_facebook" class="form-check-label">Facebook</label>
                </div>
            {% else %}
                <div class="form-check">
                    <input type="checkbox" name="facebook" class="form-check-input" id="id_facebook">
                    <label for="id_facebook" class="form-check-label">Facebook</label>
                </div>
            {% endif %}
            <hr>
            {% if oldcapsule.private == True %}
                <div class="form-check">
                    <input type="checkbox" name="private" class="form-check-input" checked id="id_private">
                    <label for="id_private" class="form-check-label">Private</label>
                </div>
            {% else %}
                <div class="form-check">
                    <input type="checkbox" name="private" class="form-check-input" id="id_private">
                    <label for="id_private" class="form-check-label">Private</label>
                </div>
            {% endif %}


            {% if oldcapsule.dead_man_switch == True %}
                <div class="form-check">
                    <input type="checkbox" checked name="deadman_switch" onclick="deadman_switch_activated()" class="form-check-input" id="id_deadman_switch">
                    <label for="id_deadman_switch" class="form-check-label">Activate deadman switch</label>
                </div>
                <div id="input_deadman">
                <hr>
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="id_deadman_counter">Deadman timer:</label>
                <div class="col-sm-2">
                    <input type="number" min="0" class="form-control" max="5000000000" name="deadman_counter" id="id_deadman_counter" value="{{ oldcapsule.dead_man_counter}}">
                </div>
                <div class="col-sm-2">        
                <select name="deadman_time_unit" class="form-control" id="id_deadman_time_unit">                   
                    <option value=0 {% if oldcapsule.time_unit == 0 %}selected{%endif%}>Minutes</option>
                    <option value=1 {% if oldcapsule.time_unit == 1 %}selected{%endif%}>Days</option>
                    <option value=2 {% if oldcapsule.time_unit == 2 %}selected{%endif%}>Months</option>
                    <option value=3 {% if oldcapsule.time_unit == 3 %}selected{%endif%}>Years</option>
                </select>
                </div>
            </div>
            </div>
            {% else %}
                <div class="form-check">
                    <input type="checkbox" name="deadman_switch" onclick="deadman_switch_activated()" class="form-check-input" id="id_deadman_switch">
                    <label for="id_deadman_switch" class="form-check-label">Activate deadman switch</label>
                </div>
                <div id="input_deadman" style="display:none">
                <hr>
                <div class="form-group row">
                <label class="col-form-label col-sm-2" for="id_deadman_counter">Deadman timer:</label>
                <div class="col-sm-2">
                    <input type="number" min="0" class="form-control" max="5000000000" name="deadman_counter" id="id_deadman_counter" value="{{ oldcapsule.dead_man_counter}}">
                </div>
                <div class="col-sm-2">        
                <select name="deadman_time_unit" class="form-control" id="id_deadman_time_unit">
                    <option value=0 selected>Minutes</option>
                    <option value=1>Days</option>
                    <option value=2>Months</option>
                    <option value=3>Years</option>
                </select>
                </div>
            </div>
            </div>            
            {% endif %}
            <hr>

            <button type="submit" class="btn btn-primary" value="submit">Update</button>
            <button type="button" class="btn btn-secondary" onclick="window.location = '/displaycapsule/{{oldcapsule.id}}'">Cancel</button>
        </form>
        <hr>

        {% for module in oldcapsule.modules.all%}
            <div>
                <h5 class="subtitle">Module {{forloop.counter}}</h5>
                <p>{{module.description}}</p>
                   <div class="row row-image">
                    {% for file in module.files.all %}
                        <div class="col-md-3 image">
						{% if file.type == "I" %}
                            <img class="img-thumbnail mw-100" src="{{ file.url }}"/>
						{% endif %}
                        {% if file.type == "F" %}
							<button type="button" class="btn btn-primary btn-file" onclick="window.location='{{file.url}}'">{{file.local_name}}</button>
                        {% endif %}
                      	{% if file.type == "V" %}
                            <div class="embed-responsive embed-responsive-4by3">
                                <video class="embed-responsive-item" src="{{file.url}}" controls preload="none"></video>
							</div>
                        {% endif %}
					    </div>
						<div class="col-md-1"> </div>
                    {% endfor %}
                    </div> 
                <button class="btn btn-primary" onclick="window.location = '/editmodule/{{ module.id }}'">Edit module</button>
                {% if oldcapsule.modules.all.count != 1 %}
                    <button class="btn btn-danger" onclick="window.location='/deletemodule/{{ module.id }}'">Delete module</a>
                {% endif %}                
            </div>
            <hr>
        {% endfor %}
        <button type="button" class="btn btn-success" onclick="window.location = '/newmodule/{{oldcapsule.id}}'">Create module</button>
    </div>

    <script>
    function deadman_switch_activated(){
            var checkbox = document.getElementById("id_deadman_switch");
            if(checkbox.checked == true){
                document.getElementById("input_deadman").style.display = "block";
            } else {
                document.getElementById("input_deadman").style.display = "none";
            }
        }
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleForm.css' %}"/>
{% endblock %}