{% extends 'base.html' %}
{% block contenido %}
{% load static %}

<div class="container">
    <form action="" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
    	{% if '/editfreecapsule/' in request.path %}
        	<h3 class="title">Editing the capsule</h3>
		{% else %}
        	<h3 class="title">Creating a free capsule</h3>
		{% endif %}
		<hr>
    	    {% csrf_token %}
			<div class="form-group">
			    <label for="id_title"><span class="red">*</span> Title {{ form.title.errors }}</label>
			    <input type="text" class="form-control" name="title" id="id_title" maxlength="250" value="{% if form.title.value != None %}{{form.title.value}}{% endif %}" required placeholder="Title">
			</div>
			<div class="form-group">
			    <label for="id_description"><span class="red">*</span> Description {{ form.description.errors }}</label>
			    <textarea class="form-control" maxlength="250" id="id_description" name="description" rows="5" required placeholder="Description">{% if form.description.value != None %}{{form.description.value}}{% endif %}</textarea>
  			</div>
  			<div class="form-group">
			    <label for="id_release_date"><span class="red">*</span> Release date {{ form.release_date.errors }}</label>
			    <input type="date" class="form-control" id="id_release_date" name="release_date" maxlength="250" value="{% if form.release_date.value != None %}{{form.release_date.value}}{% endif %}" required placeholder="YYYY-MM-DD HH:MM">
			</div>
			<div class="form-group">
			    <label for="id_emails">Emails {{ form.emails.errors }}</label>
			    <input type="text" class="form-control" id="id_release_date" name="emails" value="{% if form.emails.value != None %}{{form.emails.value}}{% endif %}" maxlength="250">
			</div>

			<p><b>{{ form.twitter.errors }}</b></p>
			{% if form.twitter.value != None and form.twitter.value == True %}
				<p><button type="button" onClick="add_twitter(this)" class="btn btn-success" id="twitter">Connected to twitter</button></p>
			{% else %}
				<p><button type="button" onClick="add_twitter(this)" class="btn btn-secondary" id="twitter">Connect to twitter?</button></p>
			{% endif %}
			<input style="display: none" class="form-check-input" type="checkbox" id="id_twitter" {% if form.twitter.value != None %}{{checked}}{% endif %} name="twitter">
			
			<!--
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" id="id_facebook" value="{% if form.facebook.value != None %}{{form.facebook.value}}{% endif %}" name="facebook">
			  <label class="form-check-label" for="id_facebook">
			    Facebook
			  </label>
			</div>
			<br>
			-->

		{% if '/editfreecapsule/' in request.path %}
		
		<div class="form-group">
    	<label for="id_file">Add more files {{form.files.errors}}</label>
	    <input type="file" name="files" id="id_file" class="form-control-file" multiple>
  	</div>
		<hr>

		{% else %}
		<div class="form-group">
    	<label for="id_file">Files {{form.files.errors}}</label>
	    <input type="file" name="files" id="id_file" class="form-control-file" multiple>
  	</div>
		<hr>
		{% endif %}


		{% if '/editfreecapsule/' in request.path %}
          {% if oldmodule.files.all|length > 0 %}
					<div class="row row-image-delete">
            {% for file in oldmodule.files.all %}
              <div class="col-md-3 image-delete">
								{% if file.type == "I" %}
									<img class="img-thumbnail mw-100" src="{{ file.url }}"/>
								{% endif %}
                {% if file.type == "F" %}
									<button type="button" class="btn btn-primary btn-file" onclick="window.location='{{file.url}}'">{{file.local_name}}</button>
                {% endif %}
              	{% if file.type == "V" %}
                  <div class="embed-responsive embed-responsive-4by3">
  									<video class="embed-responsive-item" src="{{file.url}}" controls preload="none"></video>
									</div>
                {% endif %}
								<button type="button" class="btn btn-danger button-delete" onclick="window.location='/deletefreefile/{{ file.id }}/'">Delete</button>
							</div>
							<div class="col-md-1"> </div>

            {% endfor %}
						</div>
						<hr>
        {% endif %}

			{% endif %}
			<p><span class="red">Fields with * are required</span></p>
			<button type="submit" value="submit" class="btn btn-primary">Submit</button>
            {% if not '/editfreecapsule/' in request.path %}
			<button type="button" class="btn btn-secondary" onclick="window.location = '/'">Cancel</button>
            {% else %}
            <button type="button" class="btn btn-secondary" onclick="window.location = '/displaycapsule/{{ oldcapsule.id }}'">Cancel</button>
            {% endif %}
    </form>
</div>

<script>
	if("{{form.twitter.value}}" == "True"){
		document.getElementById("id_twitter").setAttribute("checked", "checked");
	}
	function add_twitter(element){
		if(!document.getElementById("id_twitter").hasAttribute("checked")){
			document.getElementById("id_twitter").setAttribute("checked", "checked");
			element.classList.remove("btn-secondary");
			element.classList.add("btn-success");
			element.innerHTML = "Connected to Twitter";
		}else{
			document.getElementById("id_twitter").removeAttribute("checked");
			element.classList.remove("btn-success");
			element.classList.add("btn-secondary");
			element.innerHTML = "Connect to Twitter?";
		}
	}
</script>
{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleForm.css' %}"/>
{% endblock %}