{% extends 'base.html' %}
{% load static %}
{% block styles %}
	<script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleList.css' %}"/>
{% endblock %}
{% block contenido %}
 <!-- Your regular body -->

<div class="container main-list">
  <h3>List Capsule</h3>



  <div class="form-group row">
		<label class="col-form-label col-sm-1" for="form_search">Search: </label>
    <div class="col-sm-11">
      <input type="text" class="form-control" name="search" id="form_search" placeholder="Search">
    </div>
  </div>


<div id="data">  
  <input id="page" type="hidden" value=""/>
</div>
</div>

<script>
	function load_capsules(page,del){
		if(del==true){
			$("#data").empty();
		}	
		$.ajax({
				url:"/ajaxlist/{{type}}",
				data: {"query":$("#form_search").val(),
						"page":page}
			}).done(function(result){
				
				
				$("#nextbt").remove()
				$("#data").append(result);
			});
	}
	$("#form_search").on('change', function(){
		load_capsules(1,del=true)
		
		});
	$( document ).ready(load_capsules(1))
</script>


{% endblock %}