
{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container main-list">
  <h3>My Capsules</h3>


<form method="GET" action="#">
  <div class="form-group row">
		<label class="col-form-label col-sm-1" for="form_search">Search: </label>
    <div class="col-sm-11">
      <input type="text" class="form-control" name="search" id="form_search" placeholder="Search">
    </div>
  </div>
</form>

<div id="data">  
  {% for cap in capsules %}
	  
		    <div class="card">
			  <div class="card-header">
	        {{cap.title}}
	      </div>
	      <div class="card-body">
	        {% for mod in cap.modules.all %}
		        
		          <h5 class="card-title">{{mod.description}}</h5>
		          <blockquote class="blockquote">
		            <p class="blockquote-footer">Release in <cite title="Source Title">{{mod.release_date|date:'Y-m-d H:i'}}</cite></p>
		          </blockquote>
		        
	        {% endfor %}
	        <button class="btn btn-primary" onclick="window.location='/displaycapsule/{{cap.id}}'">Display capsule</button>
	      </div>
	    </div>
	    <br>
	  
  {% endfor %}
</div>
</div>
<script>
	$("#form_search").on("input", function(){
		$.ajax({
			url:"/ajaxprivatelist",
			data: {"query":$("#form_search").val()}
		}).done(function(result){	
			$("#data").empty();
			$("#data").append(result);
		});
	});
</script>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleList.css' %}"/>
{% endblock %}